.category-page-container {
  min-height: 90vh;
}

.category-banner-container {
  height: 200px;
  background-color: #182e39;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.searchBox {
  border-radius: 0.5rem;
  width: 25%;
  height: 3.5rem;
  padding: 10px;
}
.searchBox::placeholder {
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}
