.signup_container {
    margin: 5% auto;
  box-shadow: 0px 0px 28px 3px rgba(0, 0, 0, 0.75);
  border-radius: 0.5rem;
}
.signup_form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
.signup_form {
  width: 75%;
}
.signup_image-container {
  display: flex;
  justify-content: center;
}

.signup_image {
  width: 100%;
}
.signInlink{
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and(max-width:560px) {
  .signup_image-container,.signup_image {
    display: none;
  }
}
